.title {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  margin: 5px 20px;
  color: #ffffff;
  display: inline-block;
  background-color: #216869;
  padding: 4px 30px;
  border-radius: 15px;
}
.header {
  background-color: #eeeffb;
}

.mainPage {
  padding-top: 20px;
  background-color: #eeeffb;
}
