.main {
  margin-top: 5%;
  margin-bottom: 1%;
}
.inputLabel {
  font-size: 32px;
  font-weight: 600;
}
.inputRoot {
  width: 75%;
}
.description {
  font-size: 20px;
}
.tab {
  padding: 15px;
  font-weight: 600;
  font-size: 24px;
}
.root {
  margin-top: 1%;
}
.panel {
  margin-left: 1%;
}
.tabContainer {
  padding: 0px;
}
.selectorTitle {
  margin-left: 1%;
  margin-top: 1%;
  display: inline;
  margin-right: 10px;
}
