.appHeaderTitle {
  color: var(--mantine-color-blue-9);
  text-decoration: none;
}

.blueText {
  color: var(--mantine-color-blue-8);
  background-color: transparent;
}

.titlePageTitle {
  text-align: center;
  font-size: 80px;
  margin-top: 12%;
}
.titlePageSubtitle {
  text-align: center;
  font-size: 32px;
  color: grey;
  font-weight: 500;
  margin-bottom: 5%;
}
.MultiSelectStyles {
  margin-left: 10px;
}

.modalHeader {
  font-weight: bold;
  font-size: var(--mantine-h2-font-size);
}
