.paramsTableTitle {
  background-color: var(--mantine-color-blue-6);
  color: white;
  border-radius: 8px 8px 0px 0px;
}

.content {
  /* background-color: var(--mantine-color-gray-2); */
}

.tableHeader {
  background-color: var(--mantine-color-blue-6);
  color: white;
  font-weight: 700;
  font-size: 18px;
}
.title {
  font-size: 30px;
  font-weight: bold;
}
.header {
  background-color: var(--mantine-color-white);
}
.type {
  font-size: 18px;
  font-weight: 500;
}
.row {
  background-color: white;
  border-color: var(--mantine-color-gray-2);
}
.DrawerBody {
  color: red;
  background-color: reds;
}
